<cdk-table [dataSource]="spots">
    <!-- Spot Id Definition -->
    <ng-container cdkColumnDef="id">
      <cdk-header-cell *cdkHeaderCellDef> Spot ID </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{row['spot_id']}} </cdk-cell>
    </ng-container>
  
    <!-- Spot Name Definition -->
    <ng-container cdkColumnDef="name">
      <cdk-header-cell *cdkHeaderCellDef> Spot Name </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{row['spot_name']}} </cdk-cell>
    </ng-container>
  
    <!-- Action Definition -->
    <ng-container cdkColumnDef="title">
      <cdk-header-cell *cdkHeaderCellDef> Title </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{row.title}} </cdk-cell>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <cdk-header-row *cdkHeaderRowDef="['id', 'name', 'title']"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: ['id', 'name', 'title']"></cdk-row>
  </cdk-table>
